body {
    text-align: center;
}

.table {
    margin: 0 auto;
   
}

.cell {
    width: 3.8em;
    height: 3.8em; 
    outline: 1px solid black;
    
}

.Covered {
background-color: gray;
color: gray;
cursor: pointer;
}